from os import getenv

from dotenv import load_dotenv
from pydantic import PostgresDsn
from pydantic_settings import BaseSettings, SettingsConfigDict

from src.enums.environment import Environment


class Configuration(BaseSettings):
    model_config = SettingsConfigDict(
        env_file=".env",
        env_file_encoding="utf-8",
        case_sensitive=False,
        extra="ignore",
        frozen=True,
    )
    APP_NAME: str = "Formulario"
    ENVIRONMENT: Environment
    DATABASE_URL: PostgresDsn
    SECRET_KEY: str
    JWT_ALGORITHM: str
    ACCESS_TOKEN_EXPIRES: int
    LOGFIRE_TOKEN: str | None = None
    CORS_ORIGIN: list[str]


def _get_secrets() -> dict[str, str]:
    from infisical_sdk import InfisicalSDKClient, ListSecretsResponse  # type:ignore

    infisical_host: str | None = getenv("INFISICAL_HOST")
    infisical_client_id: str | None = getenv("INFISICAL_CLIENT_ID")
    infisical_client_secret: str | None = getenv("INFISICAL_CLIENT_SECRET")
    infisical_project_id: str | None = getenv("INFISICAL_PROJECT_ID")

    if not infisical_client_id or not infisical_client_secret or not infisical_project_id or not infisical_host:
        raise ValueError("INFISICAL envs is missing")

    client = InfisicalSDKClient(host=infisical_host)

    client.auth.universal_auth.login(
        client_id=infisical_client_id,
        client_secret=infisical_client_secret,
    )

    secrets: ListSecretsResponse = client.secrets.list_secrets(
        project_id=infisical_project_id,
        environment_slug="local",
        secret_path="/",  # noqa: S106
    )

    return {secret.secretKey: secret.secretValue for secret in secrets.secrets}


def build_configuration() -> Configuration:
    load_dotenv()
    secrets = {}
    if getenv("ENVIRONMENT") == Environment.LOCAL.value:
        secrets: dict[str, str] = _get_secrets()

    return Configuration(**secrets)  # type:ignore


configuration: Configuration = build_configuration()
