{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Quasar: debug chrome",
      "type": "pwa-chrome",
      "request": "launch",
      "url": "http://localhost:9000"
    },
    {
      "name": "Quasar: debug terminal",
      "type": "node-terminal",
      "request": "launch",
      "command": "npm run dev"
    }
  ]
}
